#d1{
color: yellow;
text-align: center;
height: 40%;
background-color: CornflowerBlue ;
}
#d2{
background-color: yellow;
font-family: "Times New Roman";
font-size: 20 px;
}
h1{
    background-color: yellow;
    color:black;
    text-align:center;
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
label { width: 200px; float: right; margin: 0 20px 0 0; }
span { display: block; margin: 0 0 3px; font-size: 1.2em; font-weight: bold; }
input { float : center border: 1px solid #000; padding: 2px; size:"20"}
#but{width:200px;}


.cls{
	position:absolute;
    top:60%;
    left:25%;
    right:40%;
    margin: auto;
    width: 25cm;
    height: 200px;
}